<div class="ui basic segment">
  <div class="ui grid">
    <div class="four wide column">
      <div id="backup-menu" class="ui vertical fluid tabular menu">
        <a class="item {{if selectedBackupType '' 'active'}}" {{action 'selectType' 'all'}}><i class="clock icon"></i> All Backups</a>
        {{#each model.types as |type|}}
          <a class="item" id={{type.id}} href="#" {{action 'selectType' type.id}}><i class="fa fa-fw {{type.icon}}"></i> {{type.id}}</a>
        {{/each}}
        {{#if selectedBackupType}}
          <div class="item"><a class="ui fluid primary button" {{action 'backup' selectedBackupType}}><i class="plus circle icon"></i> New Backup</a></div>
        {{/if}}
      </div>
    </div>
    <div class="twelve wide stretched column">
      <div class="ui three cards">
        {{#each selectedBackups as |backup|}}
          <div class="card">
            {{#link-to 'settings.backups.info' backup class="image {{if backup.isReady '' 'disabled'}}"}}
              <div class="{{backup.cardColor}}">
                <i class="fa {{backup.icon}}"></i>
              </div>
            {{/link-to}}
            <div class="content">
              {{#link-to 'settings.backups.info' backup class="header"}}
                <i class="fa fa-user fa-fw"></i> {{backup.pid}}
              {{/link-to}}
              <div class="meta">
                {{format-date-time backup.time}}
              </div>
            </div>
            <div class="ui bottom attached buttons">
              <div class="ui bottom attached button {{if backup.isReady '' 'disabled'}}" {{action 'openModal' 'restore-backup' backup}}>
                <i class="clock icon"></i> Restore
              </div>
              <div class="ui bottom attached button red {{if backup.isReady '' 'disabled'}}" {{action 'openModal' 'delete-backup' backup}}>
                <i class="trash icon"></i> Delete
              </div>
            </div>
          </div>
        {{else}}
          <div class="text center">
            <i class="massive clock icon"></i>
            <p class="text lead">No backups found.</p>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>

{{#ui-modal name="delete-backup" class="basic delete-backup" onApprove=(action 'deleteBackup') onDeny=(action 'clearModal')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="clock icon"></i>
    Delete backup?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to delete the backup of <strong>{{selectedBackup.pid}}</strong> made at <strong>{{format-date-time backup.time}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}

{{#ui-modal name="restore-backup" class="basic restore-backup" onApprove=(action 'restoreBackup') onDeny=(action 'clearModal')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="clock icon"></i>
    Restore backup?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to restore the backup of <strong>{{selectedBackup.pid}}</strong> made at <strong>{{format-date-time backup.time}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok green basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
