<div class="ui menu">
  <div class="right menu">
    <a href="#" class="item" {{action "check"}}><i class="refresh icon"></i> Refresh</a>
    {{#if updates}}
      <a href="#" class="item" {{action "install"}}><i class="download icon"></i> Install Updates</a>
    {{/if}}
  </div>
</div>

{{#each updates as |update|}}
  <h3><i class="star icon"></i> #{{update.id}} &mdash; {{update.name}} <small>released {{format-date update.date}}</small></h3>
  <p class="text lead">{{update.info}}</p>
{{else}}
  <div class="text center">
    <i class="massive thumbs up icon"></i>
    <p class="text lead">Your system is up-to-date.</p>
  </div>
{{/each}}
