<div class="ui pointing menu">
  <div class="header item">Filter by</div>
  <a class="{{if certificatesFilter 'active'}} item" {{action 'setFilter' 'certificates'}}>Certificates</a>
  <a class="{{if authoritiesFilter 'active'}} item" {{action 'setFilter' 'authorities'}}>Authorities</a>
  <div class="right menu">
    {{#link-to "tools.certificates.add" class="item"}}<i class="plus circle icon"></i> New Certificate{{/link-to}}
  </div>
</div>

{{#if filteredCerts}}
  <div class="ui four cards">
    {{#each filteredCerts as |cert|}}
      <div class="card">
        {{#link-to "tools.certificates.info" cert class="image"}}
          <div class="{{cert.cardColor}}">
            <i class="certificate icon"></i>
          </div>
        {{/link-to}}
        <div class="content">
          {{#link-to "tools.certificates.info" cert class="header"}}<i class="certificate icon"></i> {{cert.id}}{{/link-to}}
          <div class="meta">{{cert.typeString}}{{#if cert.isAcme}} (ACME){{/if}}</div>
        </div>
        {{#if cert.isAuthority}}
          <div class="ui bottom attached buttons">
            <a class="ui button {{if cert.isReady '' 'disabled'}}" href={{cert.downloadHref}}>
              <i class="download icon"></i> Download
            </a>
            <div class="ui red button {{if cert.isReady '' 'disabled'}}" {{action 'openModal' 'delete-cert' cert}}>
              <i class="trash icon"></i> Delete
            </div>
          </div>
        {{else}}
          <div class="ui red bottom attached button {{if cert.isReady '' 'disabled'}}" {{action 'openModal' 'delete-cert' cert}}>
            <i class="trash icon"></i> Delete
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{else}}
  <h2 class="ui center aligned icon header">
    <i class="certificate icon"></i>
    <div class="content">
      No certificates
      <div class="sub header">
        Click {{#link-to "tools.certificates.add"}}New Certificate{{/link-to}} to get started.
      </div>
    </div>
  </h2>
{{/if}}

{{#ui-modal name="delete-cert" class="basic delete-cert" onApprove=(action 'deleteCert') onDeny=(action 'clearModal')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="certificate icon"></i><br /><br />
    Delete certificate?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to delete <strong>{{selectedCert.id}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
