<div class="ui segment">
  <div class="ui grid">
    <div class="three column row">
      <div id="cpu" class="column">
        <h2><i class="fa fa-bolt fa-fw"></i> CPU</h2>
        <div id="cpu" class="ui blue progress">
          <div class="bar" style="width: {{cpuPct}}%">
            <div class="progress"></div>
          </div>
          <div class="label">{{cpuPct}}%</div>
        </div>
      </div>
      <div id="memory" class="column">
        <h2><i class="fa fa-cube fa-fw"></i> Memory</h2>
        <div id="memory" class="ui green progress">
          <div class="bar" style="width: {{memoryPct}}%">
            <div class="progress">{{memoryPct}}%</div>
          </div>
          <div class="label">{{size-to-string memory}} of {{size-to-string memoryTotal}} used</div>
        </div>
      </div>
      <div id="swap" class="column">
        <h2><i class="fa fa-random fa-fw"></i> Swap</h2>
        <div id="swap" class="ui orange progress">
          <div class="bar" style="width: {{swapPct}}%">
            <div class="progress">{{swapPct}}%</div>
          </div>
          <div class="label">{{size-to-string swap}} of {{size-to-string swapTotal}} used</div>
        </div>
      </div>
    </div>
    <div id="load" class="seven wide column">
      <h2><i class="fa fa-cogs fa-fw"></i> Load</h2>
      <div class="ui statistics">
        <div id="load-1min" class="statistic">
          <div class="value">{{load1min}}</div>
          <div class="label">1 min</div>
        </div>
        <div id="load-5min" class="statistic">
          <div class="value">{{load5min}}</div>
          <div class="label">5 min</div>
        </div>
        <div id="load-10min" class="statistic">
          <div class="value">{{load10min}}</div>
          <div class="label">10 min</div>
        </div>
      </div>
    </div>
    <div id="uptime" class="seven wide column">
      <h2><i class="fa fa-clock-o fa-fw"></i> Uptime</h2>
      <div class="ui statistics">
        <div id="uptime-days" class="ui statistic">
          <div class="value">{{uptimeDays}}</div>
          <div class="label">days</div>
        </div>
        <div id="uptime-hours" class="ui statistic">
          <div class="value">{{uptimeHours}}</div>
          <div class="label">hours</div>
        </div>
        <div id="uptime-minutes" class="ui statistic">
          <div class="value">{{uptimeMinutes}}</div>
          <div class="label">minutes</div>
        </div>
        <div id="uptime-seconds" class="ui statistic">
          <div class="value">{{uptimeSeconds}}</div>
          <div class="label">seconds</div>
        </div>
      </div>
    </div>
    <div class="two wide column">
      <h2><i class="fa fa-sun-o fa-fw"></i> Temp</h2>
      <div class="ui statistics">
        <div id="temp" class="ui statistic">
          <div class="value">{{temp}}</div>
          <div class="label">degrees</div>
        </div>
      </div>
    </div>
  </div>
  {{#if allDisks}}
  <div class="ui divider"></div>
  <div class="ui equal width grid">
    {{#each allDisks as |disk|}}
    <div class="column">
      <h2><i class="fa fa-hdd-o fa-fw"></i> {{disk.id}}</h2>
      <div id="swap" class="ui teal progress">
        <div class="bar" style="width: {{disk.percent}}%">
          <div class="progress">{{disk.percent}}%</div>
        </div>
        <div class="label">{{size-to-string disk.used}} of {{size-to-string disk.total}} used</div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>
