<div class="ui pointing menu">
  {{#link-to 'index' class="item"}}<i class="fa fa-fw fa-home"></i> Home{{/link-to}}
  {{#each breadCrumbs as |crumb|}}
    {{#if crumb.linkable}}
      {{#if crumb.model}}
        {{#if crumb.isCurrent}}
          <div class="active item">
            {{crumb.label.name}}
          </div>
        {{else}}
          {{#link-to crumb.path crumb.model class="item" activeClass=""}}
            {{crumb.label.name}}
          {{/link-to}}
        {{/if}}
      {{else}}
        {{#if crumb.isCurrent}}
          <div class="active item">
            {{#if crumb.label.icon}}
            <i class="fa fa-fw {{crumb.label.icon}}"></i>
            {{/if}}
            {{crumb.label.name}}
          </div>
        {{else}}
          {{#link-to crumb.path class="item" activeClass=""}}
            {{#if crumb.label.icon}}
            <i class="fa fa-fw {{crumb.label.icon}}"></i>
            {{/if}}
            {{crumb.label.name}}
          {{/link-to}}
        {{/if}}
      {{/if}}
    {{else}}
      <div class="item">
        {{#if crumb.label.icon}}
        <i class="fa fa-fw {{crumb.label.icon}}"></i>
        {{/if}}
        {{crumb.label.name}}
      </div>
    {{/if}}
  {{/each}}
</div>
