<div id={{msg.id}} class="ui floating icon genesis message {{msg.type}}">
  <i class="{{msg.icon}} icon"></i>
  {{#if msg.dismissable}}
    <i class="close icon" {{action 'dismiss'}}></i>
  {{/if}}
  <div class="content">
    {{#if msg.headline}}
      <div class="header">
        {{msg.headline}}
      </div>
    {{/if}}
    <p>{{msg.message}}</p>
  </div>
</div>
