<div id="notification-box-{{msg.id}}" class="ui floating fluid icon genesis message {{msg.level}}">
  <i class="{{msg.icon}} icon"></i>
  {{#if msg.complete}}
    <i class="close icon" {{action 'dismiss'}}></i>
  {{/if}}
  <div class="content">
    {{#if msg.title}}
      <div class="header">
        {{msg.title}}
      </div>
    {{/if}}
    <p>{{msg.message}}</p>
  </div>
</div>
