<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      {{#if title}}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{#if icon}}<i {{bind-attr class="icon"}}></i> {{/if}}{{title}}</h4>
      </div>
      {{/if}}
      <div class="modal-body">
      {{yield}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{#if confirm}}No{{else}}{{#if ok}}Cancel{{else}}Close{{/if}}{{/if}}</button>
        {{#if ok}}
        <button type="button" {{bind-attr class=":btn confirm:btn-danger:btn-primary"}} {{action 'ok'}}>{{#if confirm}}Yes{{else}}OK{{/if}}</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
