<div class="modal fade">
  <div class="modal-dialog {{if control.isLarge 'modal-lg'}}">
    <div class="modal-content">
      {{#if title}}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
          <h4 class="modal-title">{{#if icon}}<i class="fa fa-lg fa-fw {{icon}}"></i> {{/if}}{{title}}</h4>
        </div>
      {{/if}}
      <div class="modal-body">
        {{yield}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        {{#unless firstStep}}
          <button type="button" class="btn btn-default" {{action 'previous'}}>Previous</button>
        {{/unless}}
        {{#if lastStep}}
          <button type="button" class="btn btn-primary {{if control.canComplete '' 'disabled'}}" {{action 'ok'}}>Finish</button>
        {{else}}
          <button type="button" class="btn btn-primary {{if control.canNext '' 'disabled'}}" {{action 'next'}}>Next</button>
        {{/if}}
      </div>
    </div>
  </div>
</div>
