<div class="ui basic segment">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui card {{if model.error 'red'}}">
        <div class="image">
          <div class="{{model.cardColor}}">
            <i class="{{model.icon}} icon"></i>
          </div>
        </div>
        <div class="content">
          <div class="header"><i class="{{model.icon}} icon"></i> {{model.name}}</div>
          <div class="meta">{{model.description.short}}</div>
        </div>
        {{#if model.error}}
          <div class="extra content">
            <strong class="text red"><i class="remove circle icon"></i> {{model.error}}</strong>
          </div>
        {{/if}}
        {{#if model.installed}}
          {{#if model.isUpgradable}}
            <div class="ui bottom attached buttons">
              <div class="ui bottom attached button green {{if model.isReady '' 'disabled'}}" {{action 'install'}}>
                <i class="plus circle icon"></i> Upgrade
              </div>
              <div class="ui bottom attached button red {{if model.isReady '' 'disabled'}}" {{action 'openModal' 'uninstall-app'}}>
                <i class="remove circle icon"></i> Uninstall
              </div>
            </div>
          {{else}}
            <div class="ui bottom attached button red {{if model.isReady '' 'disabled'}}" {{action 'openModal' 'uninstall-app'}}>
              <i class="remove circle icon"></i> Uninstall
            </div>
          {{/if}}
        {{else}}
          <div class="ui bottom attached button green {{if model.isReady '' 'disabled'}}" {{action 'install'}}>
            <i class="plus circle icon"></i> Install
          </div>
        {{/if}}
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui center aligned segment">
        {{#if model.logoURL}}
          <img class="img-responsive ui-app-logo" src={{model.logoURL}} />
        {{else}}
        <div class="card-image-unique card-image-center {{model.cardColor}}">
          <i class="{{model.icon}} icon"></i>
        </div>
        <h1>{{model.name}}</h1>
        {{/if}}
        <p class="text lead">{{model.description.short}}</p>
        {{#if model.error}}
          <div class="extra content">
            <strong class="text red"><i class="remove circle icon"></i> {{model.error}}</strong>
          </div>
        {{/if}}
        <div class="ui list">
          <div class="item">
            <div class="header">Version</div>
            {{model.version}}{{#if model.isUpgradable}} &mdash; <span class="text green"><strong>Update available to version {{model.upgradable}}</strong></span>{{/if}}
          </div>
          <div class="item">
            <div class="header">Categories</div>
            {{model.categoryString}}
          </div>
          {{#if model.description.long}}
          <div class="item">
            <div class="header">Description</div>
            {{model.description.long}}
          </div>
          {{/if}}
          <div class="item">
            <div class="header">Application by</div>
            {{model.appAuthor}} &mdash; <a target="_blank" href={{model.appHomepage}}>{{model.appHomepage}}</a>
          </div>
          <div class="item">
            <div class="header">Created for arkOS by</div>
            {{model.author}} &mdash; <a target="_blank" href={{model.homepage}}>{{model.homepage}}</a>
          </div>
          {{#if model.screenshotUrls}}
          <div class="ui divider"></div>
          {{/if}}
          {{#each model.screenshotUrls as |shot|}}
          <div class="ui small image">
            <a href={{shot}} data-lightbox="screenshots">
                <img class="app-screenshot" src={{shot}} />
            </a>
          </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#ui-modal name="uninstall-app" class="basic uninstall-app" onApprove=(action 'uninstallApp')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="{{model.icon}} icon"></i>
    Uninstall app?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to uninstall <strong>{{model.name}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
