<div class="ui center aligned segment">
  {{#if model.logoURL}}
    <img class="img-responsive ui-app-logo" src={{model.logoURL}} />
  {{else}}
  <div class="card-image-unique card-image-center {{model.cardImageClass}}">
    <i class="{{model.icon}}"></i>
  </div>
  <h1>{{model.name}}</h1>
  {{/if}}
  <p class="text lead">{{model.description.short}}</p>
  {{#if model.error}}
  <p class="text lead">App failed to load &mdash; {{model.error}}</p>
  {{/if}}
  <div class="ui list">
    <div class="item">
      <div class="header">Version</div>
      {{model.version}}{{#if model.isUpgradable}} &mdash; <span class="text green"><strong>Update available to version {{model.upgradable}}</strong></span>{{/if}}
    </div>
    <div class="item">
      <div class="header">Categories</div>
      {{model.categoryString}}
    </div>
    {{#if model.description.long}}
    <div class="item">
      <div class="header">Description</div>
      {{model.description.long}}
    </div>
    {{/if}}
    <div class="item">
      <div class="header">Application by</div>
      {{model.appAuthor}} &mdash; <a target="_blank" href={{model.appHomepage}}>{{model.appHomepage}}</a>
    </div>
    <div class="item">
      <div class="header">Created for arkOS by</div>
      {{model.author}} &mdash; <a target="_blank" href={{model.homepage}}>{{model.homepage}}</a>
    </div>
    <div class="ui hidden divider"></div>
    <div class="ui buttons">
    {{#if model.installed}}
      {{#if model.isUpgradable}}
        <a href="#" class="ui big button basic green {{if model.isReady '' 'disabled'}}" {{action 'install' model}}><i class="fa fa-plus-circle"></i> Update</a>
      {{/if}}
      <a href="#" class="ui big button basic red {{if model.isReady '' 'disabled'}}" {{action 'openModal' 'uninstall-app'}}><i class="fa fa-minus-circle"></i> Uninstall</a>
    {{else}}
      <a href="#" class="ui big button basic green {{if model.isReady '' 'disabled'}}" {{action 'install' model}}><i class="fa fa-plus-circle"></i> Install</a>
    {{/if}}
    </div>
    {{#if model.screenshotUrls}}
    <div class="ui divider"></div>
    {{/if}}
    {{#each model.screenshotUrls as |shot|}}
    <div class="ui small image">
      <a href={{shot}} data-lightbox="screenshots">
          <img class="app-screenshot" src={{shot}} />
      </a>
    </div>
    {{/each}}
  </div>
</div>

{{#ui-modal name="uninstall-app" class="basic uninstall-app" onApprove=(action 'uninstallApp')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <div class="card-image-unique card-image-center {{model.cardImageClass}}">
      <i class="{{model.icon}}"></i>
    </div>
    <br />
    Uninstall app?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to uninstall <strong>{{model.name}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
