<div class="ui four cards">
  {{#each model as |user|}}
    <div class="card">
      {{#link-to 'settings.roles.users.edit' user class="image {{if user.isReady '' 'disabled'}}"}}
        <div class="{{user.cardColor}}">
          <i class="fa fa-user"></i>
        </div>
      {{/link-to}}
      <div class="content">
        {{#link-to 'settings.roles.users.edit' user class="header"}}
          <i class="fa fa-user fa-fw"></i> {{user.fullName}}
        {{/link-to}}
        <div class="meta">
          {{user.name}}
        </div>
      </div>
      <div class="ui bottom attached button red {{if user.isReady '' 'disabled'}}" {{action 'openModal' 'delete-user' user}}>
        <i class="fa fa-minus-circle fa-fw"></i> Delete
      </div>
    </div>
  {{/each}}
</div>

{{#ui-modal name="delete-user" class="basic delete-user" onApprove=(action 'deleteUser') onDeny=(action 'clearModal')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="user icon"></i>
    Delete user?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to delete user <strong>{{selectedUser.name}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
