<div class="ui basic segment">
  <div class="ui grid">
    <div class="six wide column">
      <div class="ui fluid card">
        <div class="image">
          <div class="{{model.cardColor}}">
            <i class="{{model.typeIcon}} icon"></i>
          </div>
        </div>
        <div class="content">
          <div class="header"><i class="sitemap icon"></i> {{model.id}}</div>
          <div class="meta">{{model.type}} {{if net.connected '(Connected)'}}</div>
        </div>
        <div class="ui bottom attached buttons">
          <div class="ui bottom attached button {{if model.connected 'red' 'green'}} {{if model.isReady '' 'disabled'}}" {{action 'toggle' model}}><i class="fa fa-fw {{if model.connected 'fa-times' 'fa-check'}}"></i> {{if model.connected 'Disconnect' 'Connect'}}</div>
          <div class="ui bottom attached button {{if model.isReady '' 'disabled'}}" {{action 'toggleEnabled' model}}><i class="fa fa-fw {{if model.enabled 'fa-thumbs-down' 'fa-thumbs-up'}}"></i> {{if model.enabled 'Disable' 'Enable'}}</div>
          <div class="ui bottom attached red button {{if model.isReady '' 'disabled'}}" {{action 'openModal' 'delete-net'}}><i class="fa fa-fw fa-minus-circle"></i> Delete</div>
        </div>
      </div>
    </div>
    <div class="ten wide column">
      <div class="ui segment">
        <div class="ui list">
          {{#if model.config.description}}
          <div class="item">
            <div class="header">Description</div>
            {{model.config.description}}
          </div>
          {{/if}}
          <div class="item">
            <div class="header">Interface</div>
            <p><i class="{{model.typeIcon}}"></i> {{model.type}} ({{model.config.interface}})</p>
          </div>
          <div class="item">
            <div class="header">Addressing</div>
            {{model.config.ip}}
          </div>
          <div class="item">
            <div class="header">Connected</div>
            <i class="fa {{if model.connected 'fa-check-circle' 'fa-times-circle'}}"></i> {{if model.connected 'Yes' 'No'}}
          </div>
          <div class="item">
            <div class="header">Enabled</div>
            <i class="fa {{if model.enabled 'fa-check-circle' 'fa-times-circle'}}"></i> {{if model.enabled 'Yes' 'No'}}
          </div>
          {{#if model.connected}}
          <div class="item">
            <div class="header">Address/Netmask</div>
            {{address}}
          </div>
          <div class="item">
            <div class="header">Statistics</div>
            {{size-to-string iface.rx}} received, {{size-to-string iface.tx}} sent
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>

{{#ui-modal name="delete-net" class="basic delete-net" onApprove=(action 'deleteNet')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="sitemap icon"></i>
    Delete network?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to delete network <strong>{{model.id}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
