<div class="ui basic segment">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <div class="{{model.cardColor}}">
            <i class="certificate icon"></i>
          </div>
        </div>
        <div class="content">
          <div class="header"><i class="certificate icon"></i> {{model.id}}</div>
          <div class="meta">{{model.typeString}}</div>
        </div>
        <div class="ui bottom attached button red {{if model.isReady '' 'disabled'}}" {{action 'openModal' 'delete-cert'}}>
          <i class="trash icon"></i> Delete
        </div>
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        <div class="ui list">
          <div class="item">
            <div class="header">Name</div>
            {{model.id}}
          </div>
          <div class="item">
            <div class="header">Serves</div>
            {{#if model.isAuthority}}{{model.id}}{{else}}{{model.domain}}{{/if}}
          </div>
          <div class="item">
            <div class="header">Expiry</div>
            {{format-date-time model.expiry}}
          </div>
          <div class="item">
            <div class="header">Type</div>
            {{model.typeString}}
          </div>
          {{#if model.isAuthority}}
          {{else}}
          <div class="item">
            <div class="header">MD5</div>
            {{model.md5}}
          </div>
          <div class="item">
            <div class="header">SHA1</div>
            {{model.sha1}}
          </div>
          {{/if}}
        </div>
        {{#if model.isAuthority}}
        {{else}}
        {{#ui-form fields=fields onSubmit='save' onCancel='redirect'}}
          <div class="field">
            <label>Assign to</label>
            {{#ui-dropdown class="fluid multiple selection" selected=model.assigns onChange=(action (mut model.assigns)) as |execute mapper|}}
              <i class="dropdown icon"></i>
              <div class="default text">Choose apps and websites to assign to</div>
              <div class="menu">
                {{#each certAssigns as |assign|}}
                  <div class="item" data-value="{{map-value mapper assign}}">
                    {{assign.name}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          </div>
        {{/ui-form}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#ui-modal name="delete-cert" class="basic delete-cert" onApprove=(action 'deleteCert')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="certificate icon"></i>
    Delete certificate?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to delete user <strong>{{model.id}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
