{{#g-modal title="Filesystem Info" icon="fa-hdd-o" close="removeModal"}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="id" class="col-sm-3 control-label">Name</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{model.id}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="id" class="col-sm-3 control-label">Device Path</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{model.path}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="size" class="col-sm-3 control-label">Size</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{model.sizeString}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="id" class="col-sm-3 control-label">Mountpoint</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{#if model.mounted}}{{model.mountpoint}}{{else}}Not Mounted{{/if}}</p>
                </div>
            </div>
            <div class="form-group">
                <label for="id" class="col-sm-3 control-label">Filesystem</label>
                <div class="col-sm-9">
                    <p class="form-control-static">{{model.fstype}}</p>
                </div>
            </div>
        </div>
    </form>
{{/g-modal}}
