<div class="ui basic segment">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <div class="{{cardColor}}">
            <i class="folder icon"></i>
          </div>
        </div>
        {{#if label}}
        <div class="content">
          <div class="header"><i class="folder icon"></i> {{label}}</div>
          <div class="meta">Sync Folder</div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        {{#ui-form fields=fields onSubmit='save' onCancel='redirect'}}
          <div class="required field">
            <label>Folder Label</label>
            {{input type="text" name="name" value=label}}
            <p>Short identifier for the folder. Must be the same on all devices.</p>
          </div>
          <div class="required field">
            <label>Path to Folder</label>
            {{input type="text" name="path" value=path}}
            <p>Path to the folder on your arkOS server to sync. Will be created if it does not exist.</p>
          </div>
          <div class="field">
            {{ui-checkbox label="Read Only?" checked=readOnly onChange=(action (mut readOnly))}}
            <p>Files on your arkOS server are protected from changes made on other devices, but changes made on <strong>this</strong> device will be sent to all others.</p>
          </div>
          <div class="field">
            {{ui-checkbox label="Ignore Permissions?" checked=ignorePerms onChange=(action (mut ignorePerms))}}
            <p>File permission bits are ignored when looking for changes. Use this when syncing to FAT filesystems.</p>
          </div>
          <div class="field">
            {{ui-checkbox label="Enable File Versioning" checked=versioning onChange=(action (mut versioning))}}
            <p>Files are moved to date-stamped versions in a <code>.stversions</code> folder when replaced or deleted by File Sync.</p>
          </div>
          {{#if versioning}}
          <div class="field">
            <label>Keep Versions</label>
            {{input type="text" name="keepVersions" value=keepVersions}}
            <p>The number of old versions to keep, per file.</p>
          </div>
          {{/if}}
          <div class="required field">
            <label>Rescan Interval</label>
            {{input type="text" name="rescanIntervalS" value=rescanIntervalS}}
            <p>The number of seconds to wait between each scan for modification of the local folder.</p>
          </div>
          <div class="field">
            <label>Share with Devices</label>
            {{#ui-dropdown class="multiple selection" onChange=(action (mut devicesSelected)) as |execute mapper|}}
              <div class="text"></div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each devices as |device|}}
                  <div class="item" data-value="{{map-value mapper device}}">
                    {{device.name}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          </div>
        {{/ui-form}}
      </div>
    </div>
  </div>
</div>
