<div class="ui-firstrun-container">
    <div class="text-center">
        <h3 class="page-header">Step 4: Confirm Operations</h3>
        <p>Here's what we're about to do. Please carefully check below to make sure everything is right and then click Setup. To go back and change any of these options, click Previous. This may take a few minutes to finish, depending on the speed of your hardware and Internet connection.</p>
    </div>
    <table class="table">
        <tr header="True">
        	<th width="1" />
            <th>Operation</th>
            <th>Item</th>
        </tr>
        <tr>
            <td><i class="fa fa-fw fa-user"></i></td>
            <td>Add User</td>
            <td>{{newUser.firstName}}{{#if newUser.lastName}} {{newUser.lastName}}{{/if}} ({{newUser.name}})</td>
        </tr>
        {{#if newDomain}}
        <tr>
            <td><i class="fa fa-fw fa-code"></i></td>
            <td>Assign Domain</td>
            <td>{{newDomain}}</td>
        </tr>
        {{/if}}
        <tr>
            <td><i class="fa fa-fw fa-clock-o"></i></td>
            <td>Set Timezone</td>
            <td>{{tzRegion}} ({{tzZone}})</td>
        </tr>
        {{#if resizeSDCard}}
        <tr>
            <td><i class="fa fa-fw fa-star"></i></td>
            <td>Resize SD Card</td>
            <td>True</td>
        </tr>
        {{/if}}
        {{#if useGPUMem}}
        <tr>
            <td><i class="fa fa-fw fa-star"></i></td>
            <td>Reassign GPU Memory</td>
            <td>True</td>
        </tr>
        {{/if}}
        {{#if cubieMAC}}
        <tr>
            <td><i class="fa fa-fw fa-star"></i></td>
            <td>Set MAC Address</td>
            <td>{{cubieMAC}}</td>
        </tr>
        {{/if}}
        {{#each app in model.apps}}
            {{#if app.firstrunSelected}}
            <tr>
                <td><i class="fa fa-fw fa-download"></i></td>
                <td>Install</td>
                <td><i {{bind-attr class=":fa-fw app.icon"}}></i> {{app.name}}</td>
            </tr>
            {{/if}}
        {{/each}}
    </table>
    <a href="#" class="btn btn-default btn-lg" {{action "previousStep"}}><i class="fa fa-chevron-left"></i> Previous</a>
    <a href="#" class="btn btn-success btn-lg pull-right" {{action "startSetup"}}><i class="fa fa-check"></i> Setup</a>
</div>
