<div class="ui-firstrun-container">
    <div class="text-center">
        <h3 class="page-header">Step 3: Install Applications</h3>
        <p>Select the apps you would like to install. You can always add or remove any of them later, whenever you want. You will need a working Internet connection to complete this step.</p>
    </div>
</div>
<div class="container">
    <a href="#" class="btn btn-default pull-right" {{action "deselectAll"}}><i class="fa fa-times-circle"></i> Clear</a>
    <a href="#" class="btn btn-default" {{action "selectAll"}}><i class="fa fa-plus-circle"></i> Select All</a>
    <div class="ui-items-3 ui-firstrun-items">
    {{#each app in model.apps}}
        <div {{bind-attr class=":ui-item app.firstrunSelected:selected"}} {{action "selectApp" app}}>
            <div class="ui-item-icon">
                <i {{bind-attr class=":fa-fw :fa-5x app.icon"}}></i>
            </div>
            <div class="ui-item-content">
              <h3>{{app.name}}</h3>
              <small>{{app.description.short}}</small>
              <h6>Version {{app.version}}</h6>
            </div>
        </div>
    {{/each}}
    </div>
    <a href="#" class="btn btn-default btn-lg" {{action "previousStep"}}><i class="fa fa-chevron-left"></i> Previous</a>
    <a href="#" class="btn btn-primary btn-lg pull-right" {{action "nextStep"}}>Next <i class="fa fa-chevron-right"></i></a>
</div>
