{{#g-modal title="Adding Network" icon="fa-sitemap" ok="save" close="removeModal"}}
  <div class="form-group">
    <label for="id">Connection Name</label>
    {{input type="text" class="form-control required" value=newConn.id}}
    <p class="help-block">This is an internal name for referring to your network within Genesis.</p>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    {{input type="text" class="form-control" value=newConn.config.description}}
    <p class="help-block">An internal description to describe this network (optional)</p>
  </div>
  <div class="form-group">
    <label for="interface">Interface</label>
    {{ember-selectize value=newIface content=model.netifaces required=true placeholder="Select an interface" optionLabelPath="content.prettyType"}}
  </div>
  <div class="form-group">
    <label for="ip">Addressing</label>
    {{ember-selectize value=newConn.config.addressing content=ipTypes required=true placeholder="Select an addressing" optionLabelPath="content.name" optionValuePath="content.id"}}
  </div>
  {{#if isStatic}}
    <div class="form-group">
      <label for="address">Address/Netmask</label>
      {{input type="text" class="form-control required" value=newConn.config.address}}
      <p class="help-block">IP address to set with netmask in CIDR format (i.e. 192.168.0.5/24)</p>
    </div>
    <div class="form-group">
      <label for="gateway">Gateway</label>
      {{input type="text" class="form-control" value=newConn.config.gateway}}
      <p class="help-block">IP address to use as gateway (i.e. 192.168.0.1)</p>
    </div>
  {{/if}}
  {{#if isWireless}}
    <div class="form-group">
      <label for="essid">Network ID (ESSID)</label>
      {{input type="essid" class="form-control required" value=newConn.config.essid}}
      <p class="help-block">The name of your wireless network or access point used to connect.</p>
    </div>
    <div class="form-group">
      <label for="security">Wireless Security</label>
      {{ember-selectize value=newConn.config.security content=secTypes required=true placeholder="Select a security" optionLabelPath="content.name" optionValuePath="content.id"}}
    </div>
    {{#if isSecure}}
      <div class="form-group">
        <label for="key">Passphrase</label>
        {{input type="essid" class="form-control required" value=newConn.config.key}}
      </div>
    {{/if}}
  {{/if}}
{{/g-modal}}
