{{#g-modal title="Adding Database User" icon="fa fa-user" ok="save" close="removeModal"}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            <label for="type">Database User Type</label>
            {{ view "select" class="form-control required" value=type content=userTypes optionLabelPath="content.name" optionValuePath="content.id" }}
        </div>
        <div class="form-group">
            <label for="id">Database User Name</label>
            {{input type="text" class="form-control username required" value=id}}
        </div>
        <div class="form-group has-feedback">
            <label for="passwd">Password</label>
            {{ input type="password" class="form-control password required" value=passwd }}
            <span class="fa fa-key form-control-feedback"></span>
            <p class="help-block">Your password must be at least six characters long.</p>
        </div>
        <div class="form-group has-feedback">
            <label for="passwdb">Confirm Password</label>
            {{ input type="password" class="form-control password required" value=passwdb }}
            <span class="fa fa-key form-control-feedback"></span>
        </div>
    </form>
{{/g-modal}}
