{{#g-modal title="Database Info" icon="fa-database" close="removeModal"}}
  <form {{action 'ok' on='submit' target=view}}>
    <div class="form-horizontal">
      <div class="form-group">
        <label for="id" class="col-sm-3 control-label">Database Name</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{id}}</p>
        </div>
      </div>
      <div class="form-group">
        <label for="size" class="col-sm-3 control-label">Database Size</label>
        <div class="col-sm-9">
          <p class="form-control-static">{{size-to-string size}}</p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="einput" class="control-label">Execute</label>
      {{textarea class="form-control" rows="6" value=execInput placeholder="Input goes here"}}
      <a href="#" class="btn btn-primary btn-block" {{action 'execute'}}><i class="fa fa-code"></i> Execute</a>
      {{textarea class="form-control" rows="6" value=execOutput placeholder="Output shown here" wrap="off"}}
    </div>
  </form>
{{/g-modal}}
