{{#g-modal title="Edit Database User" icon="fa fa-user" ok="save" close="removeModal"}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="id" class="col-sm-4 control-label">Database User Name</label>
                <div class="col-sm-8">
                    <p class="form-control-static">{{id}}</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="permissions" class="control-label">Permissions</label>
            {{textarea class="form-control" rows="6" value=permissions disabled="true"}}
        </div>
        <div class="form-group">
            <label for="action">Take Action</label>
            {{ view "select" class="form-control required" value=action content=actionsToTake }}
        </div>
        <div class="form-group">
            <label for="database">On Database</label>
            {{ view "select" class="form-control required" value=database content=availableDbs }}
        </div>
    </form>
{{/g-modal}}
