{{#g-modal title="Adding User" icon="fa-user" ok="save" close="removeModal"}}
    <form {{action 'ok' on='submit' target=view}}>
        <div class="form-group">
            <label for="name">Username</label>
            {{input type="text" class="form-control username required" value=newUser.name}}
            <p class="help-block">Username must be lowercase letters or numbers, and less than 30 characters</p>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            {{input type="text" class="form-control required" value=newUser.firstName}}
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            {{input type="text" class="form-control required" value=newUser.lastName}}
        </div>
        <div class="form-group has-feedback">
            <label for="passwd">Password</label>
            {{ input type="password" class="form-control password required" value=newUser.passwd }}
            <span class="fa fa-key form-control-feedback"></span>
            <p class="help-block">Your password must be at least six characters long.</p>
        </div>
        <div class="form-group has-feedback">
            <label for="passwdb">Confirm Password</label>
            {{ input type="password" class="form-control password required" value=newUser.passwdb }}
            <span class="fa fa-key form-control-feedback"></span>
        </div>
        <div class="form-group">
            <label for="domains">Domain</label>
            {{ view "select" class="form-control required" value=newUser.domain content=model.domains optionLabelPath="content.id" optionValuePath="content.id" }}
        </div>
        <div class="checkbox">
            <label>
                {{input type="checkbox" checked=newUser.admin}} Administrator
            </label>
            <p class="help-block">An administrator can login to Genesis and modify settings.</p>
        </div>
        <div class="checkbox">
            <label>
                {{input type="checkbox" checked=newUser.sudo}} Sudo
            </label>
            <p class="help-block">A sudo user is allowed root access to this system via the command line (SSH or Terminal).</p>
        </div>
    </form>
{{/g-modal}}
