<div class="ui basic segment">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <div class="{{cardColor}}">
            <i class="disk outline icon"></i>
          </div>
        </div>
        {{#if name}}
        <div class="content">
          <div class="header"><i class="disk outline icon"></i> {{name}}</div>
          <div class="meta">Sync Device</div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        {{#ui-form fields=fields onSubmit='save' onCancel='redirect'}}
          <div class="required field">
            <label>Device Name</label>
            {{input type="text" name="name" value=name}}
            <p>Short identifier for the device, as shown in the interface.</p>
          </div>
          <div class="required field">
            <label>Device ID</label>
            {{input type="text" name="deviceID" value=deviceID}}
            <p>The device ID to enter here can be found in the <code>Edit > Show ID</code> dialog on the other device. Spaces and dashes are optional (ignored). When adding a new device, keep in mind that this device must be added on the other side too.</p>
          </div>
          <div class="required field">
            <label>Share With Devices</label>
            {{input type="text" name="addresses" value=addresses}}
            <p>Enter comma separated <code>ip:port</code> addresses or <code>dynamic</code> to perform automatic discovery of the device's address.</p>
          </div>
        {{/ui-form}}
      </div>
    </div>
  </div>
</div>
