<div class="ui four cards">
  {{#each model as |group|}}
    <div class="card">
      {{#link-to 'roles.groups.edit' group class="image {{if user.isReady '' 'disabled'}}"}}
        <div class="{{group.cardColor}}">
          <i class="fa fa-group"></i>
        </div>
      {{/link-to}}
      <div class="content">
        {{#link-to 'roles.groups.edit' group class="header"}}
          <i class="fa fa-group fa-fw"></i> {{group.name}}
        {{/link-to}}
        <div class="meta">
          {{if group.users group.users.length 'No'}} member(s)
        </div>
      </div>
      <div class="ui bottom attached button red {{if group.isReady '' 'disabled'}}" {{action 'openModal' 'delete-group' group}}>
        <i class="fa fa-minus-circle fa-fw"></i> Delete
      </div>
    </div>
  {{/each}}
</div>

{{#ui-modal name="delete-group" class="basic delete-group" onApprove=(action 'deleteGroup') onRefuse=(action 'clearModal')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="group icon"></i>
    Delete group?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to delete group <strong>{{selectedGroup.name}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
