<div class="ui basic segment">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <div class="{{cardColor}}">
            <i class="user icon"></i>
          </div>
        </div>
        {{#if id}}
        <div class="content">
          <div class="header"><i class="user icon"></i> {{id}}</div>
          <div class="meta">{{#if dbType}}{{dbType.name}}{{else}}{{userTypes.firstObject.name}}{{/if}}</div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        {{#ui-form fields=fields onSubmit='save' onCancel='redirect'}}
          <div class="required field">
            <label>Username</label>
            {{input type="text" name="username" value=id}}
          </div>
          <div class="required field">
            <label>Database type</label>
            {{#ui-dropdown class="selection" selected=userTypes.firstObject onChange=(action (mut dbType)) as |execute mapper|}}
              <div class="default text">Select a database type</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each userTypes as |ty|}}
                  <div class="item" data-value="{{map-value mapper ty}}">
                    {{ty.name}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          </div>
          <div class="required field">
            <label>New Password</label>
            <div class="two fields">
              <div class="field">
                {{input type="password" name="password" value=passwd placeholder="New password"}}
              </div>
              <div class="field">
                {{input type="password" name="passwordConf" value=passwdb placeholder="Confirm password"}}
              </div>
            </div>
          </div>
        {{/ui-form}}
      </div>
    </div>
  </div>
</div>
