<div class="ui basic segment">
  <div class="ui grid">
    <div class="four wide column">
      <div class="ui card">
        <div class="image">
          <div class="{{cardColor}}">
            <i class="database icon"></i>
          </div>
        </div>
        {{#if id}}
        <div class="content">
          <div class="header"><i class="database icon"></i> {{id}}</div>
          <div class="meta">{{#if dbType}}{{dbType.name}}{{else}}{{dbTypes.firstObject.name}}{{/if}}</div>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="twelve wide column">
      <div class="ui segment">
        {{#ui-form fields=fields onSubmit='save' onCancel='redirect'}}
          <div class="required field">
            <label>Database name</label>
            {{input type="text" name="name" value=id}}
          </div>
          <div class="required field">
            <label>Database type</label>
            {{#ui-dropdown class="selection" selected=dbTypes.firstObject onChange=(action (mut dbType)) as |execute mapper|}}
              <div class="default text">Select a database type</div>
              <i class="dropdown icon"></i>
              <div class="menu">
                {{#each dbTypes as |ty|}}
                  <div class="item" data-value="{{map-value mapper ty}}">
                    {{ty.name}}
                  </div>
                {{/each}}
              </div>
            {{/ui-dropdown}}
          </div>
        {{/ui-form}}
      </div>
    </div>
  </div>
</div>
