{{#g-modal title="Certificate Info" icon="fa-certificate" close="removeModal"}}
    <div class="form-horizontal">
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Name</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{id}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Serves</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{domain}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Expiry</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{formatDateTime expiry}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">Key Type</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{typeString}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">MD5</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{md5}}</p>
            </div>
        </div>
        <div class="form-group">
            <label for="id" class="col-sm-2 control-label">SHA1</label>
            <div class="col-sm-10">
                <p class="form-control-static">{{sha1}}</p>
            </div>
        </div>
        <h3>Assign</h3>
    </div>
{{/g-modal}}
