<div class="ui pointing menu">
  <div class="header item">Filter by</div>
  <a class="{{if allFilter 'active'}} item" {{action 'setFilter' 'all'}}>All</a>
  <a class="{{if installedFilter 'active'}} item" {{action 'setFilter' 'installed'}}>Installed</a>
  <a class="{{if notInstalledFilter 'active'}} item" {{action 'setFilter' 'notinstalled'}}>Not Installed</a>
  <div class="right menu">
    <a href="#" class="item" {{action 'refresh'}}><i class="refresh icon"></i> Refresh</a>
  </div>
</div>

<div class="ui four cards">
  {{#each filteredApps as |app|}}
    <div class="card {{if app.error 'red'}}">
      {{#link-to "apps.info" app class="image"}}
        <div class="{{app.cardColor}}">
          <i class="{{app.icon}} icon"></i>
        </div>
      {{/link-to}}
      <div class="content">
        {{#link-to "apps.info" app class="header"}}<i class="{{app.icon}} icon"></i> {{app.name}}{{/link-to}}
        <div class="meta">{{app.description.short}}</div>
      </div>
      {{#if app.error}}
        <div class="extra content">
          <strong class="text red"><i class="remove circle icon"></i> {{app.error}}</strong>
        </div>
      {{/if}}

      {{#if app.installed}}
        {{#if app.isUpgradable}}
          <div class="ui bottom attached buttons">
            <div class="ui bottom attached button green {{if app.isReady '' 'disabled'}}" {{action 'install' app}}>
              <i class="plus circle icon"></i> Upgrade
            </div>
            <div class="ui bottom attached button red {{if app.isReady '' 'disabled'}}" {{action 'openModal' 'uninstall-app' app}}>
              <i class="remove circle icon"></i> Uninstall
            </div>
          </div>
        {{else}}
          <div class="ui bottom attached button red {{if app.isReady '' 'disabled'}}" {{action 'openModal' 'uninstall-app' app}}>
            <i class="remove circle icon"></i> Uninstall
          </div>
        {{/if}}
      {{else}}
        <div class="ui bottom attached button green {{if app.isReady '' 'disabled'}}" {{action 'install' app}}>
          <i class="plus circle icon"></i> Install
        </div>
      {{/if}}
    </div>
  {{/each}}
</div>

{{#ui-modal name="uninstall-app" class="basic uninstall-app" onApprove=(action 'uninstallApp') onDeny=(action 'clearModal')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="{{selectedApp.icon}} icon"></i>
    Uninstall app?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to uninstall <strong>{{selectedApp.name}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
