<div class="ui pointing menu">
  <div class="header item">Filter by</div>
  <a class="{{if certificatesFilter 'active'}} item" {{action 'setFilter' 'certificates'}}>Certificates</a>
  <a class="{{if authoritiesFilter 'active'}} item" {{action 'setFilter' 'authorities'}}>Authorities</a>
  <div class="right menu">
    {{#link-to "certs.add" class="item"}}<i class="fa fa-plus-circle fa-fw"></i> New Certificate{{/link-to}}
  </div>
</div>

<div class="ui four cards">
  {{#each filteredCerts as |cert|}}
    <div class="card">
      {{#link-to "certs.info" cert class="image"}}
        <div class="{{cert.cardColor}}">
          <i class="certificate icon"></i>
        </div>
      {{/link-to}}
      <div class="content">
        {{#link-to "certs.info" cert class="header"}}<i class="certificate icon"></i> {{cert.id}}{{/link-to}}
        <div class="meta">{{cert.typeString}}</div>
      </div>
      <div class="ui bottom attached button red {{if cert.isReady '' 'disabled'}}" {{action 'openModal' 'delete-cert' cert}}>
        <i class="fa fa-minus-circle fa-fw"></i> Delete
      </div>
    </div>
  {{/each}}
</div>

{{#ui-modal name="delete-cert" class="basic delete-cert" onApprove=(action 'deleteCert') onDeny=(action 'clearModal')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="certificate icon"></i><br /><br />
    Delete certificate?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to uninstall <strong>{{selectedCert.id}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
