<h1 class="page-header">System Preferences</h1>

<a href="#" class="btn btn-default btn-sm pull-right" {{action 'showModal' 'config/newkey' model}}><i class="fa fa-upload"></i> Add Public Key</a>
<h3>SSH Keys</h2>
<table class="table">
    <tr>
        <th width="1"></th>
        <th>User</th>
        <th>Key ID</th>
        <th width="150">Actions</th>
    </tr>
    {{#each key in model.ssh}}
    <tr>
        <td><i class="fa fa-fw fa-key"></i></td>
        <td>{{key.user}}</td>
        <td>{{key.keyId}}</td>
        <td><a href="#" class="btn btn-sm btn-danger" {{action 'delete' key}}><i class="fa fa-minus-circle"></i> Delete</a></td>
    </tr>
    {{else}}
    <td class="text-center" colspan="4">
        None
    </td>
    {{/each}}
</table>
<div class="form-group">
    <label for="hostname">Hostname</label>
    {{input type="text" class="form-control required" value=hostname}}
    <p class="help-block">The internal name of your arkOS device. To change addresses that your services can respond on, click the Users icon, then the Domains tab.</p>
</div>
<div class="form-group">
    <label for="timezone">Timezone</label>
    <div class="row">
        <div class="col-md-6">
            {{ view "select" class="form-control required" value=tzRegion content=timezones optionLabelPath="content.region" optionValuePath="content.region" }}
        </div>
        <div class="col-md-6">
            {{ view "select" class="form-control required" value=tzZone content=tzZones }}
        </div>
    </div>
    <p class="help-block">Select your time zone's region and individual zone.</p>
</div>
<div class="form-group">
    <label for="date_format">Date and Time Formats</label>
        <div class="row">
        <div class="col-md-6">
            {{input type="text" class="form-control required" value=config.general.date_format}}
        </div>
        <div class="col-md-6">
            {{input type="text" class="form-control required" value=config.general.time_format}}
        </div>
    </div>
</div>
<div class="form-group">
    <label for="host">Web Management: Host and Port</label>
    <div class="row">
        <div class="col-md-6">
            {{input type="text" class="form-control required" value=config.genesis.host}}
        </div>
        <div class="col-md-6">
            {{input type="text" class="form-control required" value=config.genesis.port}}
        </div>
    </div>
    <p class="help-block">By default, Genesis and the REST APIs bind to 0.0.0.0:8000. Only change the host if you absolutely have to and you know what you are doing. Restricted access should be managed via the Security pane.</p>
</div>
<div class="form-group">
    <label for="ciphers">Websites: Cipher String</label>
    {{input type="text" class="form-control required" value=config.certificates.ciphers}}
    <p class="help-block">Cipher string to use for websites hosted with arkOS.</p>
</div>
<div class="form-group">
    <label for="cipher">Filesystems: Cipher and Keysize</label>
    <div class="row">
        <div class="col-md-6">
            {{input type="text" class="form-control required" value=config.filesystems.cipher}}
        </div>
        <div class="col-md-6">
            {{input type="text" class="form-control required" value=config.filesystems.keysize}}
        </div>
    </div>
    <p class="help-block">Cipher and keysize used to create encrypted filesystems (<a target="_blank" href="https://wiki.archlinux.org/index.php/Dm-crypt/Device_encryption#Encryption_options_for_plain_mode">click here</a> for more info)</p>
</div>
<div class="form-group">
    <label for="cipher">Backup: Archive Directory</label>
    {{input type="text" class="form-control required" value=config.backups.location}}
    <p class="help-block">Directory where backup archives and metadata are stored.</p>
</div>
<div class="checkbox">
    <label>
        {{input type="checkbox" checked=config.updates.check_updates}} Check for Updates
    </label>
    <p class="help-block">If checked, arkOS will check for updates on startup, and once every day thereafter.</p>
</div>
<div class="checkbox">
    <label>
        {{input type="checkbox" checked=config.apps.purge}} Purge Apps on Removal
    </label>
    <p class="help-block">If checked, removing an application will also remove all saved preferences and configurations for that application.</p>
</div>
<div class="form-group">
    <label for="datetime">Current Time (on server)</label>
    <p>{{format-date-time model.datetime.datetime.datetime}}, offset is {{offset}} seconds</p>
</div>

<a href="#" class="btn btn-primary" {{action 'save'}}><i class="fa fa-check"></i> Save Settings</a> <a href="#" class="btn btn-default" {{action 'updateTime'}}><i class="fa fa-clock-o"></i> Update Time</a> 
