<h1 class="page-header">System Settings</h1>
<div class="form-group">
    <label for="hostname">Hostname</label>
    {{input type="text" class="form-control required" value=hostname}}
    <p class="help-block">The internal name of your arkOS device. To change addresses that your services can respond on, click the Users icon, then the Domains tab.</p>
</div>
<div class="form-group">
    <label for="timezone">Timezone</label>
    <div class="row">
        <div class="col-md-6">
            {{ view "select" class="form-control required" value=tzRegion content=timezones optionLabelPath="content.region" optionValuePath="content.region" }}
        </div>
        <div class="col-md-6">
            {{ view "select" class="form-control required" value=tzZone content=tzZones }}
        </div>
    </div>
    <p class="help-block">Select your time zone's region and individual zone.</p>
</div>
<div class="form-group">
    <label for="datetime">Current Time</label>
    <p>{{model.datetime.datetime.date}} {{model.datetime.datetime.time}}, offset is {{offset}} seconds</p>
</div>

<a href="#" class="btn btn-primary" {{action 'saveSystem'}}><i class="fa fa-check"></i> Save Settings</a> <a href="#" class="btn btn-default" {{action 'updateTime'}}><i class="fa fa-clock-o"></i> Update Time</a> 
