<a href="#" class="btn btn-default pull-right" {{action 'showModal' 'domain/add' model}}><i class="fa fa-code"></i> Add Domain</a>
<ul class="nav nav-tabs manual-tabs">
    <li>{{#link-to 'users'}}<i class="fa fa-user fa-fw"></i> Users{{/link-to}}</li>
    <li>{{#link-to 'groups'}}<i class="fa fa-users fa-fw"></i> Groups{{/link-to}}</li>
    <li class="active">{{#link-to 'domains'}}<i class="fa fa-code fa-fw"></i> Domains{{/link-to}}</li>
</ul>

<div class="ui-items-3">
    {{#each domain in model}}
      <div {{bind-attr class=":ui-item domain.isReady::is-pending"}}>
        <div class="ui-item-icon">
            <i class="fa fa-code fa-fw fa-5x"></i>
        </div>
        <div class="ui-item-content">
          <h2>{{domain.id}}</h2>
          <p class="lead">Domain</p>
          <div class="ui-item-buttons">
            <a href="#" {{bind-attr class=":ui-item-button :text-danger domain.isReady::disabled"}} {{action 'showConfirm' 'delete' 'Are you sure you want to delete this domain?' domain}}><i class="fa fa-minus-circle fa-fw fa-lg"></i><br />Delete</a>        
          </div>
        </div>
      </div>
    {{/each}}
</div>
