<a class="btn btn-default pull-right" {{action 'showModal' 'domain/add' model}}><i class="fa fa-code"></i> Add Domain</a>

<ul class="nav nav-tabs manual-tabs">
    <li>{{#link-to 'users'}}<i class="fa fa-user fa-fw"></i> Users{{/link-to}}</li>
    <li>{{#link-to 'groups'}}<i class="fa fa-users fa-fw"></i> Groups{{/link-to}}</li>
    <li class="active">{{#link-to 'domains'}}<i class="fa fa-code fa-fw"></i> Domains{{/link-to}}</li>
</ul>

<table class="table">
    <tr>
        <th width="1"></th>
        <th>Domain Name</th>
        <th width="150">Actions</th>
    </tr>
    {{#each domain in model}}
    <tr>
        {{#if domain.isReady}}
        <td><i class="fa fa-code"></i></td>
        {{else}}
        <td><i class="fa fa-spinner fa-spin"></i></td>
        {{/if}}
        <td>{{domain.id}}</td>
        <td>
            <a href="#" {{bind-attr class=":btn :btn-danger :btn-sm domain.isReady::disabled"}} {{action 'showConfirm' 'delete' 'Are you sure you want to delete this domain?' domain}}><i class="fa fa-minus-circle"></i> Delete</a>        
        </td>
    </tr>
    {{else}}
    <tr>
        <td colspan=4 class="text-center">None</td>
    </tr>
    {{/each}}
</table>
