<div class="ui segment">
  <div class="ui grid">
    <div class="two wide centered column">
      <i class="massive exclamation triangle icon"></i>
    </div>
    <div class="fourteen wide column">
      <h1>An error has occurred.</h1>
      {{#if networkError}}
        <p>arkOS encountered a problem in communicating with the server. There may have been an interruption in your network. Please try again by refreshing the page or physically checking the status of your server.</p>
        <a href="/" class="ui labeled icon button"><i class="refresh icon"></i> Refresh page</a>
      {{else}}
        <p>arkOS encountered an error when trying to perform your last requested operation, and it cannot continue with it.</p>

        <h3>You can try again...</h3>
        <p>...by refreshing the page. In some cases, restarting the server or clearing your browser's cache may also help.</p>
        <div class="ui buttons">
          <a href="/" class="ui labeled icon button"><i class="refresh icon"></i> Refresh page</a>
          <a href="#" class="ui labeled icon button" {{action "reboot"}}><i class="refresh icon"></i> Restart server</a>
        </div>

        <h3>Still having trouble?</h3>
        <p>If you think this is a bug, please let us know about the problem by automatically submitting a crash report. You can also manually do this by <a href="https://git.coderouge.co/arkOS/genesis/issues">filing an issue to our tracker</a>. Please make sure to include the full crash report when filing manually.</p>
        <div class="ui buttons">
          <a href="#" class="ui primary labeled icon button" id="reportbtn" {{action "submitCrashReport"}}><i class="bug icon"></i> Submit crash report</a>
          {{#unless showingStacktrace}}
          <a href="#" class="ui labeled icon button" {{action "showStacktrace"}}><i class="search icon"></i> View stacktrace</a>
          {{/unless}}
          {{#unless showingCrashReport}}
          <a href="#" class="ui labeled icon button" {{action "showCrashReport"}}><i class="search icon"></i> Show full crash report</a>
          {{/unless}}
        </div>

        <div class="ui form">
          {{#if showingCrashReport}}
            <div class="field">
              {{textarea rows=15 class="text monospace" value=crashReport}}
            </div>
          {{/if}}
          {{#if showingStacktrace}}
            <div class="field">
              {{textarea class="text monospace" rows=15 value=stackTrace}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  </div>
</div>
