<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-fw fa-file-o"></i> File <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" {{action 'showModal' 'file/newfile'}}><i class="fa fa-fw fa-file"></i> New File...</a></li>
                <li><a href="#" {{action 'showModal' 'file/newfolder'}}><i class="fa fa-fw fa-folder"></i> New Folder...</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-fw fa-pencil"></i> Edit <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" {{action 'copy'}}><i class="fa fa-fw fa-files-o"></i> Copy</a></li>
                <li><a href="#" {{action 'paste'}}><i class="fa fa-fw fa-clipboard"></i> Paste</a></li>
                <li><a href="#" {{action 'showModal' 'file/clipboard' clipboard}}><i class="fa fa-fw fa-clipboard"></i> Clipboard...{{#if clipboard}} <span class="badge">{{clipboard.length}}</span>{{/if}}</a></li>
                <li><a href="#" {{action 'selectAll'}}><i class="fa fa-fw fa-check-square-o"></i> Select All</a></li>
                <li><a href="#" {{action 'deselectAll'}}><i class="fa fa-fw fa-square-o"></i> Deselect All</a></li>
                <li class="divider"></li>
                <li><a href="#" {{action 'showConfirm' 'delete' 'Are you sure you want to delete the selected files?'}}><i class="fa fa-fw fa-times-circle"></i> Delete...</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-fw fa-search"></i> View <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" {{action 'refresh'}}><i class="fa fa-fw fa-refresh"></i> Refresh</a></li>
                <li><a href="#" {{action 'toggleHidden'}}><i {{bind-attr class=":fa :fa-fw showHidden:fa-eye-slash:fa-eye"}}></i> {{#if showHidden}}Hide Hidden{{else}}Show Hidden{{/if}}</a></li>
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-fw fa-arrow-circle-right"></i> Go <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                {{#each poi in model.POIs}}
                <li><a href="#" {{action 'openPath' poi.path}}><i {{bind-attr class=":fa :fa-fw poi.icon"}}></i> {{poi.id}}</a></li>
                {{/each}}
              </ul>
            </div>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-fw fa-wrench"></i> Tools <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#" {{action 'upload'}}><i class="fa fa-fw fa-upload"></i> Upload Here...</a></li>
                <li><a href="#" {{action 'showModal' 'file/download'}}><i class="fa fa-fw fa-download"}}></i> Download</a></li>
              </ul>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="btn-group">
            <a href="#" class="btn btn-default" {{action 'openPath' '/'}}>/</a>
            {{#each item in breadcrumbs}}
            <a href="#" class="btn btn-default" {{action 'openPath' item.path}}>{{item.name}}</a>
            {{/each}}
        </div>
    </div>
</div>
<hr />

<div>
{{#each item in sortedFolder}}
    {{g-fm-item item=item files=this}}
{{/each}}
</div>

<div id="context-menu">
  <ul class="dropdown-menu" role="menu">
    <li><a tabindex="-1" href="#" {{action 'copy'}}><i class="fa fa-fw fa-files-o"></i> Copy</a></li>
    <li><a tabindex="-1" href="#" {{action 'showModal' 'file/download'}}><i class="fa fa-fw fa-download"}}></i> Download</a></li>
    <li><a tabindex="-1" href="#" {{action 'showConfirm' 'delete' 'Are you sure you want to delete the selected files?'}}><i class="fa fa-fw fa-times-circle"></i> Delete...</a></li>
  </ul>
</div>
