<h1 class="page-header">My Filesystems</h1>

<div class="ui-items-3">
    {{#each fs in model}}
      <div {{bind-attr class=":ui-item fs.isReady::is-pending"}}>
        <div class="ui-item-icon">
            <i {{bind-attr class=":fa :fa-fw :fa-5x fs.crypt:fa-lock:fa-hdd-o"}}></i>
        </div>
        <div class="ui-item-content">
          <h2>{{fs.id}}</h2>
          <p class="lead">{{#if fs.isVirtual}}Virtual{{else}}Physical{{/if}} Disk{{#if fs.crypt}} (Encrypted){{/if}}</p>
          {{#if fs.mounted}}
          <a target="_blank" href="#" {{bind-attr class=":btn :btn-primary :btn-block fs.isReady::disabled"}}><i class="fa fa-folder"></i> Open in File Manager</a>
          {{/if}}
          <div class="btn-group btn-group-sm">
            <a href="#" {{bind-attr class=":btn :btn-default fs.isReady::disabled"}} {{action 'showModal' 'filesystem/edit' fs}}><i class="fa fa-info-circle"></i> Info</a>
            {{#if fs.mounted}}
            <a href="#" {{bind-attr class=":btn :btn-default fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'umount' fs}}><i class="fa fa-hdd-o"></i> Unmount</a>
            {{else}}
            {{#if fs.crypt}}
            <a href="#" {{bind-attr class=":btn :btn-default fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'showModal' 'filesystem/mntcrypt' fs}}><i class="fa fa-hdd-o"></i> Mount</a>
            {{else}}
            <a href="#" {{bind-attr class=":btn :btn-default fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'mount' fs}}><i class="fa fa-hdd-o"></i> Mount</a>
            {{/if}}
            {{/if}}
            {{#if fs.isVirtual}}
            <a href="#" {{bind-attr class=":btn :btn-danger fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'showConfirm' 'delete' 'Are you sure you want to delete this filesystem?' fs}}><i class="fa fa-minus-circle"></i> Delete</a> 
            {{/if}}       
          </div>
        </div>
      </div>
    {{/each}}
    <div class="ui-item">
      <div class="ui-item-icon">
        <i class="fa fa-plus-circle fa-fw fa-5x"></i>
      </div>
      <div class="ui-item-content">
        <h2>Add</h2>
        <p class="lead">New Virtual Disk</p>
        <a href="#" class="btn btn-default btn-block" {{action 'showModal' 'filesystem/add' model}}><i class="fa fa-hdd-o"></i> Add</a>
      </div>
    </div>
</div>
