<a href="#" class="btn btn-default pull-right" {{action 'showModal' 'filesystem/add' model}}><i class="fa fa-hdd-o"></i> Add Virtual Disk</a>
<h1 class="page-header">My Filesystems</h1>

<div class="ui-items-3">
    {{#each fs in model}}
      <div {{bind-attr class=":ui-item fs.isReady::is-pending"}}>
        <div class="ui-item-icon">
            <i {{bind-attr class=":fa :fa-fw :fa-5x fs.crypt:fa-lock:fa-hdd-o"}}></i>
        </div>
        <div class="ui-item-content">
          <h2>{{fs.id}}</h2>
          <p class="lead">{{#if fs.isVirtual}}Virtual{{else}}Physical{{/if}} Disk{{#if fs.crypt}} (Encrypted){{/if}}</p>
          <div class="ui-item-buttons">
            <a href="#" {{bind-attr class=":ui-item-button fs.isReady::disabled"}} {{action 'showModal' 'filesystem/edit' fs}}><i class="fa fa-info-circle fa-fw fa-lg"></i><br />Info</a>
            {{#if fs.mounted}}
            <a href="#" {{bind-attr class=":ui-item-button fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'umount' fs}}><i class="fa fa-hdd-o fa-fw fa-lg"></i><br />Unmount</a>
            {{else}}
            {{#if fs.crypt}}
            <a href="#" {{bind-attr class=":ui-item-button fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'showModal' 'filesystem/mntcrypt' fs}}><i class="fa fa-hdd-o fa-fw fa-lg"></i><br />Mount</a>
            {{else}}
            <a href="#" {{bind-attr class=":ui-item-button fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'mount' fs}}><i class="fa fa-hdd-o fa-fw fa-lg"></i><br />Mount</a>
            {{/if}}
            {{/if}}
            {{#if fs.crypt}}
            {{else}}
            {{#if fs.enabled}}
            <a href="#" {{bind-attr class=":ui-item-button fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'disable' fs}}><i class="fa fa-times fa-fw fa-lg"></i><br />Disable</a>
            {{else}}
            <a href="#" {{bind-attr class=":ui-item-button fs.isReady::disabled fs.isTooImportant:disabled"}} {{action 'enable' fs}}><i class="fa fa-check fa-fw fa-lg"></i><br />Enable</a>
            {{/if}}
            {{/if}}
            <a href="#" {{bind-attr class=":text-danger :ui-item-button fs.isReady::disabled fs.isVirtual::disabled fs.isTooImportant:disabled"}} {{action 'showConfirm' 'delete' 'Are you sure you want to delete this filesystem?' fs}}><i class="fa fa-minus-circle fa-fw fa-lg"></i><br />Delete</a>
          </div>
        </div>
      </div>
    {{else}}
    <div class="text-center">
        <h1 class="fa fa-hdd-o fa-5x"></h1>
        <p class="lead">No filesystems found.</p>
    </div>
    {{/each}}
</div>
