<div class="ui center aligned grid">
  <div class="login column">
    <div class="ui large form">
      <h1 class="text center lead">Login</h1>
      <form {{action 'authenticate' on='submit'}}>
        <div class="ui stacked segment">
          <div class="field">
            <div class="ui left icon input {{if isLoading 'disabled'}}">
              <i class="user icon"></i>
              {{input id="username" value=identification placeholder="Username"}}
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input {{if isLoading 'disabled'}}">
              <i class="key icon"></i>
              {{input type="password" id="password" value=password placeholder="Password"}}
            </div>
          </div>
          <button type="submit" class="ui fluid primary button {{if isLoading 'disabled loading'}}" id="login"><i class="gen-checkmark"></i> Login</button>
        </div>
      </form>
    </div>
    {{#if loginMessage}}
      <div class="ui negative message">
        <p>{{loginMessage}}</p>
      </div>
    {{/if}}
  </div>
</div>
