<a href="#" class="btn btn-default pull-right" {{action 'showModal' 'network/add' model}}><i class="fa fa-plus-circle"></i> Add Network</a>
<h1 class="page-header">My Networks</h1>

<div class="ui-items-3">
    {{#each net in model.networks}}
      <div {{bind-attr class=":ui-item net.isReady::is-pending"}}>
        <div class="ui-item-icon">
            <i {{bind-attr class=":fa :fa-fw :fa-5x net.typeIcon net.connected:text-success"}}></i>
        </div>
        <div class="ui-item-content">
          <h2>{{net.id}}</h2>
          <p class="lead">{{net.type}}{{#if net.connected}} (Connected){{/if}}</p>
          <div class="ui-item-buttons">
            <a href="#" {{bind-attr class=":ui-item-button net.isReady::disabled"}} {{action 'showModal' 'network/info' net model}}><i class="fa fa-fw fa-lg fa-info-circle"></i><br />Info</a>
            <a href="#" {{bind-attr class=":ui-item-button net.isReady::disabled"}} {{action 'toggle' net}}><i {{bind-attr class=":fa :fa-fw :fa-lg net.connected:fa-times:fa-check"}}></i><br />{{#if net.connected}}Disconnect{{else}}Connect{{/if}}</a>
            <a href="#" {{bind-attr class=":ui-item-button net.isReady::disabled"}} {{action 'toggleEnabled' net}}><i {{bind-attr class=":fa :fa-fw :fa-lg net.enabled:fa-thumbs-down:fa-thumbs-up"}}></i><br />{{#if net.enabled}}Disable{{else}}Enable{{/if}}</a>
            <a href="#" {{bind-attr class=":ui-item-button :text-danger net.isReady::disabled"}} {{action 'showConfirm' 'delete' 'Are you sure you want to delete this network? It will be disconnected in the process.' net}}><i class="fa fa-fw fa-lg fa-minus-circle"></i><br />Delete</a>       
          </div>
        </div>
      </div>
    {{/each}}
</div>
