<div class="input-group">
    {{input type="text" class="form-control" value=filterQuery placeholder="Filter results"}}
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" {{action 'clearFilter'}}><i class="fa fa-fw fa-times-circle"></i> Clear</button>
    </span>
</div>

<table class="table">
    <tbody>
        <tr>
            <th width="1"></th>
            <th>Service Name</th>
            <th>State</th>
            <th>Enabled</th>
            <th>Provider</th>
            <th width="175">Actions</th>
        </tr>
        {{#each svc in filteredServices}}
        <tr {{bind-attr class="svc.isReady::text-muted"}}>
            <td><i class="fa fa-spinner"></i></td>
            <td>{{svc.id}}</td>
            <td {{bind-attr class="svc.running:text-success:text-danger"}}>{{#if svc.running}}<i class="fa fa-fw fa-play"></i> Running{{else}}<i class="fa fa-fw fa-stop"></i> Stopped{{/if}}</td>
            <td {{bind-attr class="svc.enabled:text-success:text-danger"}}>{{#if svc.enabled}}<i class="fa fa-fw fa-thumbs-up"></i> Enabled{{else}}<i class="fa fa-fw fa-thumbs-o-down"></i> Disabled{{/if}}</td>
            <td>{{svc.displayType}}</td>
            <td>
                <div class="btn-group btn-group-sm">
                    <a href="#" {{bind-attr class=":btn :btn-default svc.isReady::disabled svc.canManage::disabled"}} {{action 'toggleState' svc}}><i {{bind-attr class=":fa :fa-fw svc.running:fa-stop:fa-play"}}></i> {{#if svc.running}}Stop{{else}}Start{{/if}}</a>
                    <a href="#" {{bind-attr class=":btn :btn-default svc.isReady::disabled svc.canManage::disabled"}} {{action 'toggleFileState' svc}}><i {{bind-attr class=":fa :fa-fw svc.enabled:fa-thumbs-down:fa-thumbs-up"}}></i> {{#if svc.enabled}}Disable{{else}}Enable{{/if}}</a>        
                </div>
            </td>
        </tr>
        {{else}}
        <tr>
            <td class="text-center" colspan="6">None</td>
        </tr>
        {{/each}}
    </tbody>
</table>
