<a href="#" class="btn btn-default pull-right" {{action 'showModal' 'user/add' model}}><i class="fa fa-user"></i> Add User</a>
<ul class="nav nav-tabs manual-tabs">
  <li class="active">{{#link-to 'users'}}<i class="fa fa-user fa-fw"></i> Users{{/link-to}}</li>
  <li>{{#link-to 'groups'}}<i class="fa fa-users fa-fw"></i> Groups{{/link-to}}</li>
  <li>{{#link-to 'domains'}}<i class="fa fa-code fa-fw"></i> Domains{{/link-to}}</li>
</ul>

<div class="ui-items-4">
  {{#each model.users as |user|}}
    <div class="ui-item {{if user.isReady '' 'is-pending'}}">
      <div class="ui-item-icon">
        <i class="fa fa-user fa-fw fa-5x"></i>
      </div>
      <div class="ui-item-content">
        <h2>{{user.name}}</h2>
        <p class="lead">{{user.fullName}}</p>
        <div class="ui-item-buttons">
          <a href="#" class="ui-item-button {{if user.isReady '' 'disabled'}}" {{action 'showModal' 'user/edit' user model}}><i class="fa fa-info-circle fa-fw fa-lg"></i><br />Edit</a>
          <a href="#" class="ui-item-button text-danger {{if user.isReady '' 'disabled'}}" {{action 'showConfirm' 'delete' 'Are you sure you want to delete this user?' user}}><i class="fa fa-minus-circle fa-fw fa-lg"></i><br />Delete</a>
        </div>
      </div>
    </div>
  {{else}}
    <div class="text-center">
      <h1 class="fa fa-user fa-5x"></h1>
      <p class="lead">No users found.</p>
    </div>
  {{/each}}
</div>
