<a href="#" class="btn btn-default pull-right" {{action 'showModal' 'website/add' model}}><i class="fa fa-globe"></i> Add Website</a>
<h1 class="page-header">My Websites</h1>

<div class="ui-items-3">
    {{#each site in sortedSites}}
      <div {{bind-attr class=":ui-item site.isReady::is-pending"}}>
        <div class="ui-item-icon">
            <i {{bind-attr class=":fa-fw :fa-5x site.siteIcon"}}></i>
        </div>
        <div class="ui-item-content">
          <h2>{{site.properName}}</h2>
          <p class="lead">{{site.siteName}}</p>
          <a target="_blank" {{bind-attr class=":btn :btn-primary :btn-block site.isReady::disabled" href="site.address"}}><i class="fa fa-globe"></i> Open Site</a>
          <div class="ui-item-buttons">
            <a href="#" {{bind-attr class=":ui-item-button site.isReady::disabled"}} {{action 'showModal' 'website/edit' site model}}><i class="fa fa-info-circle fa-fw fa-lg"></i><br />Edit</a>
            <a href="#" {{bind-attr class=":ui-item-button site.isReady::disabled"}} {{action 'toggleStatus' site}}><i {{bind-attr class=":fa :fa-fw :fa-lg site.enabled:fa-minus-circle:fa-check-square"}}></i><br />{{#if site.enabled}}Disable{{else}}Enable{{/if}}</a>
            <a href="#" {{bind-attr class=":ui-item-button :text-danger site.isReady::disabled"}} {{action 'showConfirm' 'delete' 'Are you sure you want to delete this website?' site}}><i class="fa fa-minus-circle fa-fw fa-lg"></i><br />Remove</a>        
          </div>
        </div>
      </div>
    {{/each}}
</div>
