<div class="ui pointing menu">
  <div class="right menu">
    {{#link-to "websites.add" class="item"}}<i class="plus circle icon"></i> Add Website{{/link-to}}
    <div class="ui right aligned category search item">
      <div class="ui transparent icon input">
        {{input type="text" class="prompt" value=filter placeholder="Filter results"}}
        <i class="remove circle link icon" {{action 'clearFilter'}}></i>
      </div>
    </div>
  </div>
</div>

{{#if filteredSites}}
<div class="ui four cards">
  {{#each filteredSites as |site|}}
    <div class="card">
      {{#link-to "websites.edit" site class="image"}}
        <div class="{{site.cardColor}}">
          <i class="{{site.icon}} icon"></i>
        </div>
      {{/link-to}}
      <div class="content">
        <a target="_blank" href={{site.address}} class="header"><i class="external icon"></i> {{site.properName}}</a>
        <div class="meta">{{site.appName}}</div>
      </div>
      {{#if site.hasUpdate}}
      <div class="extra content">
        <a href="#" class="ui green inverted fluid button {{if site.isReady '' 'disabled'}}" {{action 'updateSite' site}}>Update</a>
      </div>
      {{/if}}
      <div class="ui two bottom attached buttons">
        <div class="ui button {{if site.isReady '' 'disabled'}}" {{action 'toggleStatus' site}}>
        {{#if site.enabled}}<i class="minus circle icon"></i> Disable{{else}}<i class="plus circle icon"></i> Enable{{/if}}
        </div>
        <div class="ui button red {{if site.isReady '' 'disabled'}}" {{action 'openModal' 'delete-site' site}}>
          <i class="trash icon"></i> Delete
        </div>
      </div>
    </div>
  {{/each}}
</div>
{{else}}
<div class="text center">
  <i class="massive globe icon"></i>
  <p class="text lead">No {{filter}} websites found. Click the Add Website button to create one!</p>
</div>
{{/if}}

{{#ui-modal name="delete-site" class="basic delete-site" onApprove=(action 'deleteSite')}}
  <i class="close icon"></i>
  <div class="ui icon header">
    <i class="{{selectedSite.icon}} icon"></i>
    Delete website?
  </div>
  <div class="text center content">
    <div class="description">
      <p>Are you sure you want to delete the website <strong>{{selectedSite.properName}}</strong>?</p>
    </div>
  </div>
  <div class="actions">
    <div class="ui cancel basic inverted button">
      No
    </div>
    <div class="ui ok red basic inverted right labeled icon button">
      Yes
      <i class="checkmark icon"></i>
    </div>
  </div>
{{/ui-modal}}
